.aside {
    grid-area: aside;
}

.form {
    background: #fff;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 32px;
}

.heading {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 32px 0;
}