@import-normalize;

/* rest of app styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

/*css grid layout*/
.layout {
    display: grid;
    grid-template-columns: auto 300px minmax(min-content, 868px) auto;
    grid-template-rows: auto auto auto;
    grid-gap: 32px 16px;
    gap: 32px 16px;
    grid-template-areas:
        "header header header header"
        ". aside aside ."
        ". content content ."
        ". . . .";
}

@media (min-width: 768px) {
    .layout {
        grid-gap: 32px 32px;
        gap: 32px 32px;
        grid-template-areas:
            "header header header header"
            ". aside content ."
            ". . . .";
    }
}

/*multi-select styles*/
.multi-select:not(:last-child) {
    margin-bottom: 24px;
}

.multi-select .dropdown-container {
    border:0;
    border-bottom: 1px solid #BDBDBD;
}

.multi-select .dropdown-content {
    padding-top: 0;
    border-top: 1px solid #00897B;
}

.multi-select .panel-content {
    padding: 16px;
    background: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border: 0;
}

.multi-select input[type="checkbox"] {
    background-color: red;
}

.multi-select .select-panel li:not(:last-child) {
    margin-bottom: 8px;
}

.multi-select {
    --rmsc-main: transparent;
    --rmsc-hover: transparent;
    --rmsc-selected: transparent;
    --rmsc-border: #ccc;
    --rmsc-gray: #aaa;
    --rmsc-bg: #fff;
    --rmsc-p: 0; /* Spacing */
    --rmsc-radius: 0; /* Radius */
    --rmsc-h: 20px; /* Height */
  }